<div id="member-detail">
  <div class="wrap-account-content">
    <div style="display: flex;">
      <Button v-on:event="backPage()" class="button-back">
        <template v-slot:classIcon="">
          <img class="centered" src="@/assets/images/button-icon/arrow-back.png"/>
        </template>
      </Button>
      <div class="label-back">{{ $t('components.button.back')}}</div>
    </div>
    <b-row>
      <b-col>
        <UnitItem :title="title" :listItems="listItems"></UnitItem>
      </b-col>
      <b-col>
        <TagName :aaaaa="suc123123123cess" :title="123123123"></TagName>
      </b-col>
    </b-row>
  </div>
</div>